<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TrackOrder</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:14:37</td>   <td>0</td> <td title="&gt;&gt;BaseClass.setUpSuiteDetails(org.testng.ITestContext)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;setUpSuiteDetails</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:14:38</td>   <td>547</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:01</td>   <td>23486</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.BeforeClass()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:04</td>   <td>26492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:15:04</td>   <td>26497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.launch()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">launch</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:08</td>   <td>30615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:11</td>   <td>34112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:15:11</td>   <td>34112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackOrderAvailability_Options(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackOrderAvailability_Options</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:15</td>   <td>97314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:16</td>   <td>98451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:16</td>   <td>98451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackOrderAvailability_TrackOrderOptions(java.lang.String)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackOrderAvailability_TrackOrderOptions</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:39</td>   <td>121839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:40</td>   <td>122997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:40</td>   <td>122997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyRetryAvailabilityButton(java.lang.String)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyRetryAvailabilityButton</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:44</td>   <td>126333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:45</td>   <td>127326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:45</td>   <td>127326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyRetryFunctionality()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyRetryFunctionality</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:57</td>   <td>139700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:58</td>   <td>140617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:58</td>   <td>140617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackNowAvailability_OrderPage()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackNowAvailability_OrderPage</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:48</td>   <td>190486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:49</td>   <td>191556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:17:49</td>   <td>191556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackNowFunctionalityWithOutEnteringOrderNO()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackNowFunctionalityWithOutEnteringOrderNO</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:55</td>   <td>198184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:58</td>   <td>200948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:17:58</td>   <td>200948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackNowFunctionalityWithValidOrderNO()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackNowFunctionalityWithValidOrderNO</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:18:01</td>   <td>203407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:18:25</td>   <td>227350</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterClass()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:18:25</td>   <td>227399</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
</table>
