<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TrackOrder</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.BeforeClass()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:18:25</td>   <td>203864</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterClass()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:18:25</td>   <td>203913</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:14:38</td>   <td>-22939</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:04</td>   <td>3006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:11</td>   <td>10626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:16</td>   <td>74965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:40</td>   <td>99511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:45</td>   <td>103840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:58</td>   <td>117131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:49</td>   <td>168070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:58</td>   <td>177462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:15:04</td>   <td>3011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.launch()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">launch</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:14:37</td>   <td>-23486</td> <td title="&gt;&gt;BaseClass.setUpSuiteDetails(org.testng.ITestContext)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&gt;&gt;setUpSuiteDetails</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:15:08</td>   <td>7129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:15</td>   <td>73828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:39</td>   <td>98353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:44</td>   <td>102847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:16:57</td>   <td>116214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:48</td>   <td>167000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:17:55</td>   <td>174698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="9ea790">  <td>18/10/23 18:18:01</td>   <td>179921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:40</td>   <td>99511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyRetryAvailabilityButton(java.lang.String)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyRetryAvailabilityButton</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:45</td>   <td>103840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyRetryFunctionality()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyRetryFunctionality</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:58</td>   <td>117131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackNowAvailability_OrderPage()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackNowAvailability_OrderPage</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:17:49</td>   <td>168070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackNowFunctionalityWithOutEnteringOrderNO()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackNowFunctionalityWithOutEnteringOrderNO</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:17:58</td>   <td>177462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackNowFunctionalityWithValidOrderNO()[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackNowFunctionalityWithValidOrderNO</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:15:11</td>   <td>10626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackOrderAvailability_Options(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackOrderAvailability_Options</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7b6070">  <td>18/10/23 18:16:16</td>   <td>74965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrackOrderTestSuite.verifyTrackOrderAvailability_TrackOrderOptions(java.lang.String)[pri:0, instance:trackOrderSuite.TrackOrderTestSuite@61a52fbd]">verifyTrackOrderAvailability_TrackOrderOptions</td> 
  <td>main@457233904</td>   <td></td> </tr>
</table>
