<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:08</td>   <td>0</td> <td title="&gt;&gt;BaseClass.setUpSuiteDetails(org.testng.ITestContext)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;setUpSuiteDetails</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:09</td>   <td>334</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:14</td>   <td>5585</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.BeforeClass()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/06 17:26:17</td>   <td>8590</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangePassword.beforeclass()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:35</td>   <td>27067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/06 17:26:35</td>   <td>27070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePassword.Navigation()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">Navigation</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:45</td>   <td>36741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:45</td>   <td>37058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/06 17:26:45</td>   <td>37058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePassword.Withoutentering_Save()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">Withoutentering_Save</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:58</td>   <td>49310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:26:58</td>   <td>49548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/06 17:26:58</td>   <td>49548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePassword.Passwordmismatch()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">Passwordmismatch</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:27:00</td>   <td>51917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:27:01</td>   <td>52180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.captureDesc(java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&gt;&gt;captureDesc</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/06 17:27:01</td>   <td>52180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePassword.Save_Password()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">Save_Password</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:27:07</td>   <td>58586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:27:07</td>   <td>58851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterClass()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/11/06 17:27:08</td>   <td>59186</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:tekysportalTestSuite.ChangePassword@3c0ecd4b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
</table>
